# ------------------------------
# PYTHON
# ------------------------------
__pycache__/
*.py[cod]
*.pyo

# ------------------------------
# VIRTUAL ENVIRONMENT
# ------------------------------
venv/
env/
.venv/

# ------------------------------
# DJANGO
# ------------------------------
db.sqlite3
*.log

# ------------------------------
# ENV VARIABLES
# ------------------------------
.env

# ------------------------------
# ML FILES
# ------------------------------
*.pkl

# ------------------------------
# EDITOR FILES
# ------------------------------
.vscode/
.idea/

# ------------------------------
# OS FILES
# ------------------------------
.DS_Store
Thumbs.db
